.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px ;
    background-color: lightskyblue;
    padding: 20px;
}
.grid-item {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}