@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Tsukimi+Rounded:400,700');

#content {
    width: 1600px;
    margin: 0 auto;
    background-color: #dde5b6;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #6c584c;
    font-family: "Open Sans", "Roboto", Sans-serif;
    text-decoration:none;
    font-weight:bold;
    font-size: 3em;
    padding: 35px;
}
nav a:hover {
    background-color: #dde5b6;
    color: #a98467;
}

header{
    background-color: #adc178;
    display:grid;
    grid-template-columns: 300px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 50%;
}


main {
    text-align: center;
}
#home {
    display: grid;
    grid-template-rows: 0.2fr 2fr 2fr;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
}

.heading {
    grid-row: 1/2;
    grid-column: 2/11;
    color: #dde5b6;
    background-color:#a98467;
    margin-top: 40px;
    font-family: "Tsukimi Rounded", "Roboto", Sans-Serif;
    font-size:2.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.food-home {
    grid-row:2/3 ;
    grid-column: 2/11;

}
.food-home h2, .exercise-home h2 {
    color: #6c584c;
    font-family:"Tsukimi Rounded", "Roboto", Sans-Serif;
    background-color: #adc178;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}
.food-home p, .exercise-home p, li {
    color: #6c584c;
    font-family: "Open Sans", "Roboto", Sans-serif;
    font-size: 1.9em;
    text-align:justify;
    padding: 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 55px;
    text-indent: 5%;
}
li {
    margin-block-start: 0.3%;
    margin-block-end: 0.3%;

}
.food-img, .exercise-img {
    width: 80%;
    margin: 50px 100px;
    background-color: #ffffff;
    padding: 20px;
}
.exercise-home {
    grid-row: 3/4;
    grid-column: 2/11;
}


footer {
    background-color: #6c584c ;
    color: #dde5b6;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer p {
    font-size: 1.5em;
    font-family: "Open Sans", "Roboto", Sans-serif;
}

footer p a:hover {
    text-decoration: underline;
}
footer a {
    color:#dde5b6;
    text-decoration: none;
    font-family: "Open Sans", "Roboto", Sans-serif; /*verificar si funciona*/
}

footer a:hover {
    color: #adc178;
}

footer .social img {
    padding: 10px;
}

/* Start styling page 2 called Food */

#food {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.food-title {
    color: #dde5b6;
    background-color:#a98467;
    margin-top: 40px;
    font-family: "Tsukimi Rounded", "Roboto", Sans-Serif;
    font-size:2.2em;
    height: 150px;
    margin:40px 150px;
}
.food-subtitle1, .food-subtitle2 {
    color: #6c584c;
    font-family:"Tsukimi Rounded", "Roboto", Sans-Serif;
    background-color: #adc178;
    margin:30px 150px;
    font-size: 2em;
    word-spacing: 10px;
    text-align: center;
    padding: 20px;
    height: 30%;
}
.natural-para, .medicine-para {
    color: #6c584c;
    font-family: "Open Sans", "Roboto", Sans-serif;
    font-size: 1.9em;
    text-align: left;
    line-height: 55px;
    margin:40px 150px;
}
.food-img2 {
    float: right;
    margin: 50px 150px 20px 40px;
    background-color: #ffffff;
    padding: 15px;
}
.herbs-img {
    float: left;
    margin: 50px 40px 40px 150px;
    background-color: #ffffff;
    padding: 15px;
}

/* Start styling page 3 called Exercise */

#exercise {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;

}
.exercise-title {
    color: #dde5b6;
    background-color:#a98467;
    margin-top: 40px;
    font-family: "Tsukimi Rounded", "Roboto", Sans-Serif;
    font-size:2.2em;
    height: 150px;
    margin:40px 150px;
}
.exercise-subtitle1, .exercise-subtitle2 {
    color: #6c584c;
    font-family:"Tsukimi Rounded", "Roboto", Sans-Serif;
    background-color: #adc178;
    margin:10px 150px;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    word-spacing: 50px;
    height: 30%;

}
.training-para, .relax-para {
    color: #6c584c;
    font-family: "Open Sans", "Roboto", Sans-serif;
    font-size: 1.9em;
    text-align: left;
    line-height: 55px;
    margin:50px 150px;
}
.stairs-img, .walking-img, .functional-img, .aqua-img, .running-img, .yoga-img {
    background-color:white;
    padding: 10px;
    margin: 50px 20px 30px;

}
