body {
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.half-white {
    background-color: white;
    display: flex;
    align-items: center;
}

.half-gray {
    background-color: gray;
    display: flex;
    align-items: flex-end;
}

.image {
    width: 50%;
    height: 50%;

}
para {
    text-align:center;
    font-size: 240px;
    font-weight: bold;

}
